lead-generation/typeform-to-airtable/typeform-to-airtable.json
{
  "name": "Lead Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "typeform-leads",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "47f83052-4daf-402a-99d5-60b99755bc57",
      "name": "Webhook - Typeform Trigger1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -940,
        520
      ],
      "webhookId": "typeform-lead-capture"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "email",
              "stringValue": "={{ $json.body.form_response.answers.find(answer => answer.type === 'email')?.email }}\n"
            },
            {
              "name": "firstName",
              "stringValue": "={{ $json.body.form_response.answers[0]?.text"
            },
            {
              "name": "company",
              "stringValue": "={{ $json.body.form_response.answers[4]?.text"
            },
            {
              "name": "phoneNumber",
              "stringValue": "={{ $json.body.form_response.answers.find(a => a.type === 'phone_number')?.phone_number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d37c9504-7adf-436c-935f-fd6f48ab07e4",
      "name": "Extract & Format Lead Data1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -740,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email.trim() }}",
              "operation": "regex",
              "value2": "^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$"
            }
          ]
        }
      },
      "id": "f02b8b94-ae03-414d-82d4-bace62008176",
      "name": "Validate Email Format1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -540,
        520
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appBt6LfBOSQsrqe9",
          "mode": "list",
          "cachedResultName": "Lead Management",
          "cachedResultUrl": "https://airtable.com/appBt6LfBOSQsrqe9"
        },
        "table": {
          "__rl": true,
          "value": "tbl20AaG9jIpQStHh",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appBt6LfBOSQsrqe9/tbl20AaG9jIpQStHh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contacted": false,
            "Name": "={{$json[\"fullName\"]}}",
            "Email": "{{$json[\"email\"]}}",
            "Business Name": "{{$json[\"businessName\"]}}",
            "Main Goal": "{{$json[\"mainGoal\"]}}",
            "Lead Source": "Supabase Form",
            "Package Interest": "={{$json[\"packageInterest\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Package Interest",
              "displayName": "Package Interest",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Basic",
                  "value": "Basic"
                },
                {
                  "name": "Standard",
                  "value": "Standard"
                },
                {
                  "name": "Premium",
                  "value": "Premium"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Main Goal",
              "displayName": "Main Goal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Source",
              "displayName": "Lead Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contacted",
              "displayName": "Contacted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Follow-up Date",
              "displayName": "Follow-up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Days Since Contacted",
              "displayName": "Days Since Contacted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Suggested Next Action",
              "displayName": "Suggested Next Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "bc505067-cfbc-47f5-9a1c-0f3d6d0bb889",
      "name": "Create Lead in Airtable1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -340,
        420
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "bNmH8B242tsq8lrS",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $node['Extract & Format Lead Data1'].json.email }}",
        "subject": "Welcome! Thanks for your interest",
        "message": "Hi there,  Thank you for your interest! We're excited to connect with you and will follow up soon with more information tailored to your needs.  In the meantime, feel free to reply to this email if you have any questions.  Best regards,   The Team",
        "options": {}
      },
      "id": "563493ba-386d-4456-8c3e-564c35649bc9",
      "name": "Send Welcome Email1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -140,
        420
      ],
      "webhookId": "189b8ac6-5629-4cc9-80e5-6b9d6d0db067",
      "credentials": {
        "gmailOAuth2": {
          "id": "bptiRYBvQOqmJVa9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2825e327-55e5-4278-bcfd-bbd46a2fea22",
      "name": "Success Response1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        60,
        420
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f9b8b59b-fd62-47cf-b28f-7f53fb775cb0",
      "name": "Error Response - Invalid Email1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -340,
        620
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f3e549a3-f4eb-4ef0-99d2-bd059b6f9a39",
      "name": "Webhook Response1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        260,
        520
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Error_Log",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d1f8ec6b-64c6-4a71-9789-c943ac83bb7f",
      "name": "Log Error to Airtable1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -100,
        660
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "bNmH8B242tsq8lrS",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Typeform Trigger1": {
      "main": [
        [
          {
            "node": "Extract & Format Lead Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Format Lead Data1": {
      "main": [
        [
          {
            "node": "Validate Email Format1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email Format1": {
      "main": [
        [
          {
            "node": "Create Lead in Airtable1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response - Invalid Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead in Airtable1": {
      "main": [
        [
          {
            "node": "Send Welcome Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email1": {
      "main": [
        [
          {
            "node": "Success Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response1": {
      "main": [
        [
          {
            "node": "Webhook Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response - Invalid Email1": {
      "main": [
        [
          {
            "node": "Log Error to Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error to Airtable1": {
      "main": [
        [
          {
            "node": "Webhook Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d4899230-0f27-4469-8251-52f12e0472f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b5da9a108e1818c1d1602c3ce5fabe8c3dccf81b2fd743c4ce5dbb881ee320f"
  },
  "id": "yzFqxmNdwPi7PLHu",
  "tags": [
    {
      "name": "lead-capture",
      "id": "ZHi9KqYlGZM4Fucd",
      "createdAt": "2025-06-25T00:01:59.391Z",
      "updatedAt": "2025-06-25T00:01:59.391Z"
    },
    {
      "name": "typeform",
      "id": "W7KeQvZMXkc72vI2",
      "createdAt": "2025-06-25T00:01:59.422Z",
      "updatedAt": "2025-06-25T00:01:59.422Z"
    },
    {
      "name": "airtable",
      "id": "AEDKaN3nf2xdcJwM",
      "createdAt": "2025-06-25T00:01:59.448Z",
      "updatedAt": "2025-06-25T00:01:59.448Z"
    },
    {
      "createdAt": "2025-06-17T06:11:21.971Z",
      "updatedAt": "2025-06-17T06:11:21.971Z",
      "id": "nMqnjK0mmKSAygSR",
      "name": "email-automation"
    }
  ]
}
